github "matthewpalmer/Locksmith" == 2.0.8
github "JustHTTP/Just" == 0.4.8
github "Hearst-DD/ObjectMapper" == 1.5.0
github "kean/Nuke" == 3.2
github "danielgindi/Charts" == 2.3.0
github "ephread/Instructions" "master"
